@value makerGreen, makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  padding: 0.5em 2em;
  overflow-y: auto;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
